.header
{
    display: flex;
    margin: 32px auto;
    padding-top: 3px;
    padding-bottom: 2px;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    justify-content: space-between;
}

.header__menu_logo
{
    display: flex;
    flex-direction: row;
    gap:20px;
}

.header__right
{
    display: flex;
    flex-direction: row;
    gap:20px;
}

header{
    box-sizing: content-box;
}



@media (max-width:500px){
    .header__right
    {
        display: none;}

    .header
    {
        flex-direction: row-reverse;
        align-items: center;
        padding: 0 30px !important;
    }
}