.running_line {
	width: 100%;
	background-color: #7683B0;
	height: 20px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	display: block;
	text-transform: uppercase;
	color: #000000;
}

.running_line__content
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    margin-right: 10px;
}