.product_image
{
    width: 300px;
}
.discription
{cursor: pointer;}
.product_title
{
    font-family: Cormorant Garamond;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    font-size: 33.6735px;
    margin-bottom: 100px;
    margin-top: 20px;
}

.product_button_wrapper
{
    display: flex;
    justify-content: center;
    gap: 64px;
    margin-top: 11px;
}

.slider__settings
{
    width: 26px;
    height: 21px; 
    cursor:pointer; 
}

@media (max-width:767px) {
    .product_image
    {
        width: 200px;
    }

    .product_title
{

    font-size: 20px;

}

.product_button_wrapper
{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 11px;
}

}