.wrapper_constructor_button {
	background-size: cover;
	/* text-align: left; */
	padding: 110px 0;
	padding-bottom: 120px;
	/* text-align: center; */
	position: relative;
}

.wrapper_constructor_button_titles
{
	display: block;
	/* width: 375px; */
	max-width: 375px;
	margin: auto;
	text-align: left;
}


.block .slider_image {
	margin-bottom: -4px;
	max-width: 100vw;
	width: 100%;
	height: 100vh;
	padding: 0px !important;
}

.block .slick-slide .img {
	margin-bottom: -4px;
	max-width: 100vw;
	width: 100%;
	height: 100vh;
	padding: 0px !important;
}

.block .slick-dots li button:before {

	color: #D9D9D9 !important;
	font-size: 17px !important;
}

.block .slick-slide.slick-active {
	background-color: #3A3A3A !important;
}

.block .slick-dots {
	position: absolute !important;
	bottom: 20px !important;
	display: block;
	width: 100%;
	padding: 10;
	margin: 0;
	list-style: none;
	text-align: center;

}


.block .slider_slide {
	padding: 110px 0;
	position: absolute;
	bottom: 20px;
	width: 50vw;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items:flex-end;
	/* margin-left: auto !important;  */
	/* margin-right: auto !important;  */
	/* width: 470px;  */
	/* margin-left: 120px; */
	/* transform: translateX(5vw); */
}


.block .slider_slide_mobile_wrapper {

	padding: 0;
}




.block .slider_slide_mobile_wrapper {
	display: block;
	padding: 0;
}


.block .slider_slide_mobile_wrapper_titles
{
	display: block;
	max-width: 470px;
	margin: auto;
	text-align: left;
}

.block .wrapper_constructor_button_subtitle {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.block .wrapper_constructor_button_title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 59px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.block .wrapper_constructor_button .button_constructor {
	position: absolute;
	bottom: 126px;
}


.block {
	/* height: 960px; */
	width: 100%;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr;
	box-sizing: border-box;
}



/* Основные стили */

/* Слайдер */
.block .slick-slider {
	min-width: 0;
}

/* Ограничивающая оболочка */
.block .slick-list {
	overflow: hidden;
}

/* Лента слайдов */
.block .slick-track {
	display: flex;
	align-items: flex-start;
}

/* Слайд */
.block .slick-slide {
	width: 50%;
}

/* Конкретный слайдер */
.block .slider {
	position: relative;
	padding: 0px 60px;
}

.block .slider .slick-arrow {
	position: absolute;
	top: 50%;
	margin: -30px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 60px;
}

/* .slider .slick-arrow.slick-prev{
	left: 0;
	background: url('../img/sl-arrow_l.svg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next{
	right: 0;
	background: url('../img/sl-arrow_r.svg') 0 0 / 100% no-repeat;
} */
.block .slider .slick-arrow.slick-disabled {
	opacity: 0.2;
}

.block .slider .slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
}

.block .slider .slick-dots li {
	list-style: none;
	margin: 0px 10px;
}

.block .slider .slick-dots button {
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
}

.block .slider .slick-dots li.slick-active button {
	background-color: transparent;
	border: 1px solid #fff;
}

.block .slider__item {
	padding: 0px 15px;
}

.block .slider__item img {
	max-width: 100%;
}

.block .slider__item .img {
	max-width: 100%;
}

.block .slider__item.slick-center {}



.block .slider_slide_subtitle {
	font-size: 14px;
	color: black;
	font-weight: 400;
	font-style: normal;
}

.block .slider_slide_title {
	font-size: 48px;
	color: black;
	font-weight: 400;
	font-style: normal;
}

.block .slider__price {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 500;
	font-size: 24.4898px;
	line-height: 30px;
	/* identical to box height */

	text-align: center;
	text-transform: uppercase;

	color: #000000;
	/* margin-top: 11px; */
}



.block .slider_button_constructor {
	display: none;
}


.block .slider_slide_mobile_wrapper .button_constructor
{display: none;}


@media (max-width:1000px) 
{
	.block .slider_image
	{
		/* height: 63vh; */
		height: 584px;
	}

	.block .slider_slide
	{
		height: 100%;
	margin-left: 0px;
	width: 100vw;
}


.block .slider_slide_mobile_wrapper .button_constructor
{display: flex;}

.block .slider_slide_subtitle {
		font-size: 12px;
		color: rgb(255, 255, 255);
		font-weight: 400;
		font-style: normal;
	}

	.block .slider_slide_title {
		font-size: 32px;
		color: rgb(255, 255, 255);
		font-weight: 400;
		font-style: normal;
	}

	.block .slider_slide {
		padding: 0px;
		position: absolute;
		display: flex;
		top: 0px;
		text-align: left;
	}

	.block .slider_slide_mobile_wrapper {
		position: relative;
		width: 100vw;
		padding: 45px !important;
		/* display: grid;
		grid-template-rows: 1fr 1fr; */
		/* height: 63vh; */
		height: 584px;
	}

	.block .slider_button_constructor {
		display: flex;
		max-width: 100% !important;
	}

	.block .wrapper_constructor_button_subtitle {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 12px !important;
		line-height: 15px;
		text-transform: uppercase;
		color: #FFFFFF;

	}

	.block .wrapper_constructor_button_title {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 32px;
		line-height: 39px;

		text-transform: uppercase;
		color: #FFFFFF;
	}

	.block .wrapper_constructor_button {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 32px !important;
		line-height: 39px;
		text-transform: uppercase;
		color: #FFFFFF;
		/* margin-top: 5px; */
	}

	.block .wrapper_constructor_button {
		width: 100vw;
		background-size: cover;
		text-align: left;
		padding: 40px 35px;
		position: relative;
	}

	.block .wrapper_constructor_button .button_constructor {
		position: static;
		margin-bottom: 10px;
		margin-top: 350px;
	}
	.block {
		/* height: 960px; */
		display: block;
	}



/* @media (max-width:820px) 
{

	
} */


	
	.block .slider {
		padding: 0px 40px;
	}

	.block .slider_slide_subtitle {
		font-size: 12px;
		color: rgb(255, 255, 255);
		font-weight: 400;
		font-style: normal;
	}

	.block .slider_slide_title {
		font-size: 32px;
		color: rgb(255, 255, 255);
		font-weight: 400;
		font-style: normal;
	}


	.block .slick-track {
		/* height: 63vh; */
		height: 584px;
	}


	.block .button_constructor img {
		max-width: 50% !important;
	}
}