@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,80);

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


/*Обнуление*/
*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Montserrat';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	box-sizing: border-box;
	width: 100vw;
	overflow-x: hidden;
	position: relative;
}

html,
body {
	width: 100vw !important;
	overflow-x: hidden !important;
}

